
nav{
    display: flex;
    justify-content: space-between;
}

.hire__button{
    width: 8rem;
    height: 2.6rem;
    padding: 1px;
    border: none;
    color: white;
    font-size: 1rem;
    align-self: center;
    border-radius: 6px;
    background: #F24E1E;
    box-sizing: border-box;
    border: 1px solid #F24E1E;
}

.hire__button:hover{
    cursor: pointer;
    color: orangered;
    background-color: white;
}

.details__container{
    padding: 2rem 4rem;
    position: relative;
    
}

.detail__container{
    border: 2px solid black;
    padding: 4.6rem 2.6rem 2.6rem 2.6rem;
}

.back__image{
    width: 2rem;
    margin-left: 0px;
}

.back__image :hover{
    cursor: pointer;
}

.back__image img{
    width: 100%;
}

.avatar__image{
    left: 40%;
    width: 10rem;
    bottom : 38rem;
    position:absolute;
   

}

.avatar__image img{
    width: 100%;
    border-radius: 50%;
    border: 2px solid black;
}

.name{
    font-size: 36px;
    color: #000000;
    line-height: 42px;
    font-weight: bold;
    font-style: normal;
    margin-bottom: 0px;
    font-family: Roboto;
}

.sub__name{
    font-size: 24px;
    color: #343333;
    line-height: 28px;
    font-weight: bold;
    font-style: normal;
    font-family: Roboto;
}

main{
    text-align: center;
    background-color: white;
}

.followers__section{
    gap: 2rem;
    display: flex;
    justify-content: center; 
}

.followers__section p:nth-child(1){
    margin: 0px;
    font-size: 36px;
    color: #2D2C2C;
    line-height: 42px;
    font-style: normal;
    font-weight: normal;
    font-family: Roboto;
    font-family: 'Rubik', sans-serif;
}

.button{
    color: #000000;
    font-size: 18px;
    padding: 4px 1rem;
    border-radius: 3px;
    background: rgba(196, 196, 196, 0.35);
}

.personal-info__container{
    gap: 1rem;
    display: flex;
    margin: 0rem 3rem ;
    align-content: space-between;
}

.info__container{
    width: 45%;
    padding: 1rem;
    height: 17rem;
    display: flex;
    text-align: start;
    align-content: space-between;
    justify-content: space-between;
    border: 2px solid rgba(235, 235, 235, 0.918);
}

.info__container p:nth-child(odd){
    font-size: 14px;
    color: #7E7E7E;
    font-style: normal;
    font-family: Roboto;
    font-weight: normal;
}

.info__container p:nth-child(even){
    font-size: 18px;
    color: #000000;
    font-weight: bold;
    font-weight: bold;
    font-style: normal;
    font-family: Roboto;
    padding-bottom: 1rem;
}

.info__container span{
    padding: 1rem 2rem ;
}

.bio{
    width: 45%;
    height: 17rem;
    padding: 1rem 2rem ;
    text-align: justify;
    border: 2px solid rgba(235, 235, 235, 0.918);
}

.bio p{
    font-size: 14px;
    color: #2D2C2C;
    font-style: normal;
    margin-bottom: 0px;
    font-family: Roboto;
    font-weight: normal;
}

.bio__title{
    font-size: 18px;
    color: #2D2C2C;
    font-weight: bold;
    font-style: normal;
    font-family: Roboto;
}

