
nav{
    display: flex;
    justify-content: space-between;
}

.hire__button{
    width: 8rem;
    height: 2.6rem;
    border: none;
    color: white;
    font-size: 1rem;
    align-self: center;
    background-color: orangered;
}
.hire__button:hover{
    cursor: pointer;
    color: orangered;
    background-color: white;
}

.details__container{
    padding: 2rem 4rem;
    position: relative;
}

.detail__container{
    padding: 4.6rem 2.6rem 2.6rem 2.6rem;
}

.back__image{
    width: 2rem;
}

.back__image :hover{
    cursor: pointer;
}

.back__image img{
    width: 100%;
}

.avatar__image{
    left: 43%;
    top: 1rem;
    width: 7rem;
    position:absolute;

}

.avatar__image img{
    width: 100%;
    border-radius: 50%;
}

.name{
    margin-bottom: 0px;
}

main{
    text-align: center;
    background-color: white;
}

.followers__section{
    gap: 2rem;
    display: flex;
    justify-content: center; 
}

.followers__section p:nth-child(1){
    margin: 0px;
    font-size: 2rem;
    font-family: 'Rubik', sans-serif;
}

.button{
    font-size: 1rem;
    padding: 4px 1rem;
    background-color: rgb(240, 236, 236);
}

.abc{
    gap: 1rem;
    display: flex;
    margin: 0rem 3rem ;
    align-content: space-between;
}

.info__container{
    width: 45%;
    padding: 1rem;
    height: 17rem;
    display: flex;
    text-align: start;
    align-content: space-between;
    justify-content: space-between;
    border: 2px solid rgba(235, 235, 235, 0.918);
}

.info__container p:nth-child(odd){
    color: rgb(133, 130, 130);
}

.info__container p:nth-child(even){
    font-weight: bold;
    padding-bottom: 1rem;
}

.info__container span{
    padding: 1rem 2rem ;
}

.bio{
    width: 45%;
    height: 17rem;
    padding: 1rem 2rem ;
    text-align: justify;
    border: 2px solid rgba(235, 235, 235, 0.918);
}

.bio p{
    margin-bottom: 0px;
}

.bio__title{
    font-weight: bold;
}

